.footer {
    background-color: #343a40;
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    bottom: 0;
    width: 100%;
}

.footer h5 {
    font-size: 22px;
    margin-bottom: 15px;
}

.footer p {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer ul.list-inline {
    padding-left: 0;
    margin-bottom: 20px;
}

.footer ul.list-inline li {
    display: inline-block;
    margin-right: 15px;
}

.footer ul.list-inline li:last-child {
    margin-right: 0;
}

.footer ul.list-inline li a {
    color: #fff;
    font-size: 24px;
}

.footer ul.list-inline li a:hover {
    color: #ccc;
}
