.image {
    display: block;
    max-width: 50%;
    margin: 0 auto;
    max-height: 50%;
}

.custom-alert {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: slideInUp 0.5s ease forwards;
}

.custom-alert h5 {
    margin: 0;
    color: #000000;
}

.custom-alert .btn-close {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.custom-alert .btn-close:hover {
    color: #ccc;
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
